.collection-page {
	display: flex;
	flex-direction: column;

	.title {
		font-size: 28px;
		margin-bottom: 25px;
	}

	.items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
}
